body {
  background-color: white;
  margin: 50 px;
  padding: 30px 50px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 10px;
}

button {
  display: inline;
  background-color: pink;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 40%;
}
